<html>

<head>
  <style>
    * {
      margin: 0;
      padding: 0;
    }

    body {
      width: 350px;
      height: 350px;
    }

    header {
      background: #002B4D;
      color: #fff;
      height: 48px;
      width: 100 %;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    main {
      padding: 28px
    }

    .USDT {
      background-color: #ADC915
    }
  </style>
</head>

<body>
  <header>
    <i><b>cripto</b>maniacos</i>
  </header>
  <main class="{{base}}">
    <p>BINANCE </p>
    <P> {{asset}}{{base}} SIGNAL </P>
    <br />
    <p>Buy : {{buyPrice1}} - {{buyPrice2}}</p>
    <br />
    <p>Target 1: {{target1}} </p>
    <p> Target 2: {{target2}} </p>
    <p> Target 3: {{target3}} </p>
    <br />
    <p>StopLoss: {{stop}} </p>
    <br />
    <p>Data: xxx </p>
  </main>
</body>

</html>